.noticeboard {
	margin-top: 100px;
}

.noticeboard a {
	text-decoration: none;
	color: black;
}

.noticeList h3 {
	padding: 10px;
	color: white;
	font-size: 30px;
	text-align: center;
	background-image: linear-gradient(to bottom right, rgb(5, 150, 217), rgb(5, 111, 217));
	border-radius: 10px;
}


.noticeboards img {
	padding-bottom: 10px;
	text-align: center;
	display: inline-block;
	height: 100px;
	width: auto;
}

/* .griditem2 img {
	padding-bottom: 10px;
	text-align: center;
	display: inline-block;
	width: 50px;
	height: auto;
} */

/* 
.noticeboard svg {
	padding-right: 5px;
	display: inline-block;
} */


.griditem1 a {
	background-image: linear-gradient(to bottom right, rgba(255, 204, 0), rgba(255, 157, 0));
	transition: all 2s ease;
}
.griditem1 a:hover{
	background-image: linear-gradient(to bottom right,rgba(255, 157, 0),  rgba(255, 204, 0));
	box-shadow: none;
}


.griditem2 a {
	background-image: linear-gradient(to bottom right, rgba(255, 209, 238), rgba(246, 27, 128));
	
}
.griditem2 a:hover {
	background-image: linear-gradient(to bottom right, rgba(246, 27, 128), rgba(255, 209, 238));
	box-shadow: none;
}

.griditem3 a {
	background-image: linear-gradient(to bottom right, rgba(63, 144, 252), rgba(92, 62, 255));
}
.griditem3 a:hover {
	background-image: linear-gradient(to bottom right, rgba(92, 62, 255), rgba(63, 144, 252));
	box-shadow: none;
}

.griditem4 a {
	background-image: linear-gradient(to bottom right, rgba(79, 248, 155), rgba(0, 203, 91));
}
.griditem4 a:hover {
	background-image: linear-gradient(to bottom right, rgba(0, 203, 91), rgba(79, 248, 155));
	box-shadow: none;
}


.morenotice {
	text-align: right;
}

.morenotice a {
	color: #059DD9;
}

.gridContainer {
	display: grid;
	grid-template-columns: 50% 50%;
	margin-top: -41px;
}

.noticeboards {
	text-align: center;
}

.noticeboards div {
	margin: 44px;
}

.noticeboards div a {
	padding: 40px 40px;
	display: block;
	box-shadow: 0px 0px 8px 2px #c7eaff;
	border: 1px solid #c7eaff;
}

.noticeboards div h6 {
	font-size: 25px;
	color: white;
}

/* .noticeboards div svg {
	width: 100% !important;
	height: auto !important;
} */

.noticeList {
	background-color: #F7F8FA;
	box-shadow: 0px 0px 8px 2px #c7eaff;
	border-radius: 8px;
	padding: 10px;
	border: 1px solid #c7eaff;
}

.noticeList li {
	background-color: #F7F8FA;
	padding: 0;
	border: none;
}

.noticeList li a {
	display: block;
	overflow: hidden;
	padding: 10px 5px;
	border-top: 1px solid #c7eaff;
}
.noticeList li a:hover{
	background-color: #c7eaff;
	border-radius: 6px;
	border-top: 1px solid #fff;
}

.noticeList li a h4{
	margin: 0;
}
.noticeList li a span{
	color: #a19f9f;
}
.noticeList a:hover {
	color: rgb(89, 190, 236);
}

.noticeList img {
	width: 25px;
	padding-top: 5px;
	margin-left: 10px;
	float: left;
}

.noticeList h4 {
	float: left;
	width: 100%;
	padding-top: 2px;
}

.noticeList p {
	float: left;
	width: 100%;
}

.item1 {
	grid-row: 1 / span 2;
}

.gridcontainer2 {
	display: grid;
	grid-template-columns: 7% 93%;
}
