.noticeboard {
	margin-top: 100px;
}

.noticeboard a {
	text-decoration: none;
	color: black;
}

.noticeboard h3 {
	padding: 10px;
	color: white;
	font-size: 30px;
	text-align: center;

	background-image: linear-gradient(to bottom right, rgb(5, 150, 217), rgb(5, 111, 217));
	border-radius: 10px;
}

.noticeboard img {
	padding-bottom: 10px;
	text-align: center;
	display: inline-block;
	width: 50px;
	height: auto;
}

.noticeboard svg {
	padding-right: 5px;
	display: inline-block;
}


.griditem1 a {
	background-image: linear-gradient(to bottom right, rgba(255, 204, 0, 1), rgba(255, 157, 0, 1));
}


.griditem2 a {
	background-image: linear-gradient(to bottom right, rgba(255, 209, 238, 1), rgba(246, 27, 128, 1));
}


.griditem3 a {
	background-image: linear-gradient(to bottom right, rgba(63, 144, 252, 1), rgba(92, 62, 255, 1));
}


.griditem4 a {
	background-image: linear-gradient(to bottom right, rgba(79, 248, 155, 1), rgba(0, 203, 91, 1));
}

.morenotice {
	text-align: right;

}

.morenotice a {
	color: #059DD9;
}

.gridContainer {
	display: grid;
	grid-template-columns: auto auto;
	margin-top: -41px;
}

.noticeboards {
	text-align: center;
}

.noticeboards div {
	margin: 40px;
}

.noticeboards div a {
	padding: 40px 40px;
	display: block;
}

.noticeboards div h6 {
	font-size: 25px;
	color: white;
}

.noticeboards div svg {
	width: 100% !important;
	height: auto !important;
}

.noticeList {
	background-color: #F7F8FA;
	box-shadow: 0px 0px 20px 0px grey;
	border-radius: 8px;
	padding: 8px;
}

.noticeList li {
	background-color: #F7F8FA;
}

.noticeList a:hover {
	color: rgb(89, 190, 236);
}

.noticeList img {
	width: 20px;
	margin-right: 5px;
}