
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slideSize{
  width: 1920px;
	height: 720px;
	object-fit: cover;
}

@media (max-width: 550px){
  .slideSize{
    width: 380px;
    height: 280px;
    object-fit: cover;
  }
  .slideSize{
    margin-top: 30px;
  }

}

.carousel-caption h4{
  font-size: 50px;
  text-shadow: 2px 2px 8px #000;
}
.carousel-caption p{
  font-size: 30px;
  text-shadow: 2px 2px 8px #000;
}

