.headTeacher img {
	max-width: 100%;
	border-radius: 8px;
}

.headTeacherName {
	padding-top: 12px;
}

.headTeacherName p {
	margin-bottom: 0px;
}

.speech p{
	font-size: 22px;
}

@media (max-width: 550px){
	.speech p{
		padding-top: 20px;
		font-size: 20px;
	}

}
