.gridcontainer {
    display: grid;
    grid-template-columns: 40% 60%;
    padding-top: 70px;
}

.gridcontainer h4 {
    padding-top: 10px;
    font-size: 40px;
}
.gridcontainer p {
    font-size: 25px;
}

.item1 {
    grid-row: 1 / span 2;
}

.item1 img {
    height: 100px;
    width: auto;
}

.item2 {
    grid-row: 1 / span 2;
}

.item2 img {
    height: 100px;
    width: auto;
    margin-left: -40px;
}

.piechart {
    position: relative;
    text-align: center;
}
.piechart2 span {
    font-size: 15px;
    font-weight: bold;
}
.piechart h4 {
    font-size: 30px;
    font-weight: bold;
}
.piechart1 {
    position: absolute;
}

.piechart2 {
    position: absolute;
}

.absent {
    position: absolute;
    left: 37px;
    top: 50px;
}

.absent svg {
    width: 15px;
    height: auto;
    fill: #F1B71C;
}
.absent span{
    font-size: 20px;
    padding-left: 10px;
}

.present svg {
    width: 15px;
    height: auto;
    fill: #056FD9;
}

.present {
    position: absolute;
    top: 175px;
    left: 37px;
}
.present span {
    font-size: 20px;
    padding-left: 10px;
}
