/* background color of whole page */
.pageBG {
	background-color: #F5F8FF;
}

/* font */
p,
a,
li,
h2,
h3,
h4,
h5 {
	font-family: 'Kalpurush', sans-serif;
}

.header {
	text-align: center;
	font-family: 'Kalpurush', sans-serif;
	padding-top: 30px;

}

.header h1 {
	font-size: 50px;
}

.header p {
	margin-top: -1rem;
}

.header .btn-primary {
	background-color: rgb(241, 183, 28);
	color: black;
	border-color: rgb(241, 183, 28);
}

.header .btn-primary:hover {
	color: white;
}

.headermid img {
	width: 15px;
	padding-bottom: 3px;
	margin-right: 2px;
}

.paraHeader {
	text-align: center;
	margin-top: 100px;
	padding-bottom: 30px;
	color: #056FD9;
	font-size: 60px;
}



/* topnav */
.topnavbar {
	margin-top: 20px;
	background-color: rgb(5, 157, 217);
	font-size: larger;
}

.topnavbar a {
	color: black;
}

.topnavbar .dropdown-item:hover {
	color: red;
}

.topnavbar a:hover {
	color: rgb(255, 255, 255);
}

.navbar-expand-lg .navbar-nav .nav-link {
	margin: 5px 45px;
}

/* common */
.section-cont {
	padding: 60px 0;
}

.section-cont p {
	text-align: justify;
}


/* footer */
.footer {
	background-color: rgb(5, 157, 217);
	padding: 25px 0;
	font-size: 15;
}

.footer a {
	color: white;
	text-decoration: none;
}

.footer a:hover {
	color: wheat;
}

.footer p {
	color: white;
}

.footer li {
	color: white;
}

.footer h4 {
	font-weight: bold;
}

.ending {
	background-color: orange;
}

.copyright {
	text-align: center;
	font-size: 13px;
}

.copyright p {
	color: black;
	font-family: 'Kalpurush', sans-serif;
}

.copyright span {
	color: #0f7344;
	font-family: 'Kalpurush', sans-serif;
}


.slick-prev,
.slick-prev:hover {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffcc33'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	width: 100px;
	height: 50px;
	left: -50px;
}

.slick-prev:before,
.slick-next:before {
	content: ' ';
}

.slick-next,
.slick-next:hover {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffcc33'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	width: 100px;
	height: 50px;
	right: -100px;
}

.list-group-item {
	padding-right: 0px;
}